.Project {
    width: 960px
}

.Project-response {
    float: right;
}

.Project-good-button {
    display: inline-block;
    border-radius: 4px;
    opacity: .80;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Fredoka One';
    font-size: 32px;
    font-weight: lighter;
    letter-spacing: 2px;
    padding: 20px;
    margin: 40px;
    width: 200px;
    margin-left: 60px;
    transition: all 0.15s;
    cursor: pointer;
    background-color: #1B7BFF;
  }

.Project-good-button:hover {
    box-shadow: 0 0 0 0 rgba(0,0,0,0.01), 10px 10px 5px 1px rgba(0,0,0,0.1);
    background-color: #1B7BFF;
    transform: translate(-2px, -2px);
    opacity: 1;

}

.Project-good-button:active {
    background-color: #1459BA;
    box-shadow: 0 1px #666;
    transform: translate(2px, 2px);
    color: #FCFCFC;
}

.Project-bad-button {
    display: inline-block;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    opacity: .80;
    background-color: #1e1e1e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Fredoka One';
    font-size: 32px;
    font-weight: lighter;
    letter-spacing: 2px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
  }

.Project-bad-button:hover {
    box-shadow: 0 0 0 0 rgba(0,0,0,0.01), 10px 10px 5px 1px rgba(0,0,0,0.1);
    background-color: #222222;
    transform: translate(-2px, -2px);
    opacity: 1;
}

.Project-bad-button:active {
    background-color: #000000;
    box-shadow: 0 1px #666;
    transform: translate(2px, 2px);
    color: #555555;
}